<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homeworks</title>
</head>
<body>
    {% for homework in Homeworks%}
        {% with y=forloop.counter|stringformat:"s" %}
            {% with url="Homeworks/"|add:y %}
                <a href={{url}}>{{homework.name}}</a>
                <br>
            {%endwith%}
        {%endwith%}
    {%endfor%}
    <a href={{HomeworkAddUrl}}>Add Homework</a>
</body>
</html>